@page "/"

<div class="text-center">
    <h3 class="text-danger">Blazor Project</h3>
    <h3 class="text-success">TraineeName:Md.Ariful Islam</h3>
    <h3 class="text-primary">Bacth:Round-52</h3>
    <h3 class="text-success">TSP:ACSL</h3>
    <h5 class="textalert-warning">Courch:Enterprece System Analysis & Design</h5>

</div> 
